---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Detail from "../../components/Detail.astro";
import Giscus from "../../components/Giscus.astro";

type GagEntry = CollectionEntry<"gags">;

export async function getStaticPaths() {
  const allGags = await getCollection("gags", ({ data }: GagEntry) => {
    return data.published === true;
  });

  return allGags.map((gag: GagEntry) => ({
    params: {
      slug: gag.data.slug,
    },
    props: { gag },
  }));
}

interface Props {
  gag: GagEntry;
}

const { gag }: Props = Astro.props;
---

<Layout title={gag.data.title} currentPage="gag">
  <article class="container mx-auto max-w-4xl px-4 py-8">
    <h1 class="sr-only" data-pagefind-body>{gag.data.title}</h1>

    <Detail gag={gag} />

    <Giscus />
  </article>
</Layout>
